* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F9F6F1;
}

.container {
    max-width: 1120px;
    width: 100%;
    margin: auto;
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_img {
    max-width: 201px;
    width: 100%;
}

.header {
    padding-top: 56px;
    padding-bottom: 33px;
}

.logo_block {
    max-width: 918px;
    width: 100%;
}

.header_nav {
    position: relative;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #212121;
    transition: all 300ms;
}

.header_nav:hover {
    color: #D7B399;
}

.header_nav::after {
    position: absolute;
    content: url(../img/Polygon.png);
    top: -2px;
    right: -10px;
    width: 5px;
    height: 5px;
    color: #212121;
}

.cart_img {
    max-width: 30px;
    width: 100%;
    transition: all 500ms;
}

.cart_img:hover {
    transform: scale(1.1);
}

.group_img {
    max-width: 45px;
    width: 100%;;
    transition: all 500ms;
}

.group_img:hover {
    transform: scale(1.1);
}

.footer_imgs {
    max-width: 91px;
    width: 100%;;
}

.nav1 {
    max-width: 373px;
    width: 100%;
}

.nav2 {
    max-width: 163px;
    width: 100%;
}

.header_nav2 {
    position: relative;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #212121;transition: all 300ms;
}

.header_nav2:hover {
    color: #D7B399;
}

.section_promo {
    padding-top: 100px;
    padding-bottom: 70px;
}

.winter_block {
    display: flex;
    flex-direction: column;
}

.h2_winter {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.02em;
}

.h1_winter {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 67px;
    letter-spacing: 0.04em;
    margin-top: 35px;
    margin-bottom: 55px;    
}

.button {
    background: #D7B399;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: all 400ms;
}

.button:hover {
    transform: scale(1.1) translateX(10px);
}

.button_promo {
    max-width: 240px;
    padding: 17px 30px 18px 29px;
}

.promo_block {
    max-width: 556px;
    width: 100%;
    min-height: 377px;
    background-image: url(../img/running_shoes_PNG5823.png);
}

.h3_promo {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    letter-spacing: 0.05em;
    text-decoration-line: line-through;
    text-transform: uppercase;    
    margin-bottom: 14px;
}

.h2_promo {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 51px;
    text-align: right;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #D84033;
}

.nav_block {
    max-width: 205px;
    width: 100%;
    margin: auto;
    margin-top: 130px;
}

.holder {
    max-width: 40px;
    width: 100%;
    min-height: 7px;
    background: #CECECE;
}

.holder:nth-child(2) {
    background: #D7B399;
}

.section_free {
    background: #212121;
    padding-top: 80px;
    padding-bottom: 69px;
}

.h1_free {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 23px;
}

.h2_free {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.h1_free::after {
    content: " ОТ 3000₽";
    font-style: normal;
    font-weight: 500;
}

.section_genders {
    background: #F4F4F4;
}

.block_genders {
    max-width: 550px;
    width: 100%;
    padding-top: 61px;
    padding-bottom: 58px;
    background: url(../img/Rectangle\ 3.png) no-repeat right bottom;
}

.h2_genders {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.03em;
}

.p_genders {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin-top: 25px;
    margin-bottom: 40px;
}

.button_genders {
    padding: 15px 30px;
    background: #D7B399 url(../img/Arrow.png) no-repeat center;
}

.block_genders:nth-child(2n) {
    background: url(../img/Rectangle\ 3.1.png) no-repeat right bottom;
}

.h2_genders::after {
    content: " КОЛЛЕКЦИЯ";
    font-style: normal;
    font-weight: 500;
}

.section_dress {
    background-color: #fff;
}

.block_wrap {
    display: flex;
    flex-wrap: wrap;
}

.block_dress {
    width: 25%;
    min-height: 236px;
    background: url(../img/Rectangle.png) no-repeat center;
    position: relative;
}

.a_dress {
    position: absolute;
    left: 30px;
    bottom: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #212121;
}

.section_model {
    background-color: #fff;
    padding-top: 150px;
    padding-bottom: 150px;
}

.h1_model {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #212121;
}

.block_model {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 103px;
    margin-bottom: 103px;
    padding-top: 22px;
    width: 23%;
    min-height: 350px;
    background-color: #fff;
    z-index: 999;
}

.img_model {
    max-width: 205px;
    width: 100%;
}

.p_model {
    max-width: 112px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.a_price {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #D7B399;
    text-decoration: none;
    transition: all 400ms;
}

.a_price:hover {
    transform: scale(1.1);
}

.border_el {
    position: absolute;
    max-width: 25px;
    min-height: 25px;
    width: 100%;
    border: 3px solid #D7B399;
    
}

.border_el:nth-child(1) {
    border-right: none;
    border-bottom: none;
    top: -3px;
    left: -3px;
}

.border_el:nth-child(2) {
    border-left: none;
    border-bottom: none;
    top: -3px;
    right: -3px;
}

.border_el:nth-child(3) {
    border-right: none;
    border-top: none;
    bottom: -3px;
    left: -3px;
}

.border_el:nth-child(4) {
    border-left: none;
    border-top: none;
    bottom: -3px;
    right: -3px;
}

.button_model {
    padding: 18px 64px 17px 35px;
    background: #D7B399 url(../img/Arrow.png) no-repeat center right 27px;
    transition: all 400ms;
}

.button_model:hover {
    transform: scale(1.1);
}

.block_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_present {
    background: #212121;
    padding-top: 72px;
    padding-bottom: 71px;
}

.h1_present {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.input_email {
    max-width: 235px;
    padding-left: 20px;
    width: 100%;
    min-height: 40px;
    background: #F9F6F1;
    border: none;
    outline: none;
}

.input_email::placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #8D8D8D;    
}

.button_present {
    padding: 12px 13px 11px 14px;
    transition: all 400ms;
}

.button_present:hover {
    transform: scale(1.1) translateX(-10px);
}

.footer {
    background: #212121;
    padding-bottom: 78px;
    padding-top: 79px;
}

.block_footer {
    min-height: 151px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.p_footer {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    max-width: 201px;
    width: 100%;
    margin-top: 32px;
}

.footer_blocks {
    max-width: 692px;
    width: 100%;
}

.p_end {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #CBCFD4;
}

.a_footer {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #CBCFD4;
    text-decoration: none;
    margin-bottom: 10px;
    position: relative;
    transition: all 300ms;
}

.a_footer:hover {
    color: #D7B399;
}

.img_end {
    padding-left: 20px;
}

.img_end:nth-child(1)::before {
    position: absolute;
    top: 0;
    left: -2px;
    content: url(../img/wk.png);
    max-width: 24px;
    width: 100%;
    min-height: 24px;
    transition: all 500ms;
}

.img_end:nth-child(1):hover::before {
    transform: scale(1.3);
}

.img_end:nth-child(2)::before {
    position: absolute;
    top: 0;
    left: 0;
    content: url(../img/inst.png);
    max-width: 24px;
    width: 100%;
    min-height: 24px;
    transition: all 500ms;
}

.img_end:nth-child(2):hover::before {
    transform: scale(1.3);
}

.img_end:nth-child(3)::before {
    position: absolute;
    top: 0;
    left: 0;
    content: url(../img/face.png);
    max-width: 24px;
    width: 100%;
    min-height: 24px;
    transition: all 500ms;
}

.img_end:nth-child(3):hover::before {
    transform: scale(1.3);
}

.section_end {
    padding-top: 30px;
    padding-bottom: 23px;
    background: #fff;
}

@media (max-width: 1024px) {

.container {
    width: 95%;
}

.input_email {
    margin-right: 10px;
}

.logo_block {
    max-width: 85%;
}
}

@media (max-width: 768px) {

.logo_img {
    display: none;
}

.logo_block {
    width: 85%;
}

.promo_block {
    background: none;
}

.winter_collapse {
    background: url(../img/running_shoes_PNG5823.png) no-repeat right bottom;
}

.p_footer {
    display: none;
}

.adapt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input_email {
    margin-bottom: 5px;
    margin-right: 0;
}

.button_present {
    width: 100%;
}
}

@media (max-width: 425px) {

.block_model {
    max-width: 277px;
    width: 100%;
    margin: 15px 0;
}

.wrap {
    justify-content: center;
    flex-wrap: wrap;
}

.block_genders {
    background: none;
}

.block_genders:nth-child(2) {
    background: none;
}

.a_dress {
    left: 5px;
}

.footer_blocks {
    max-width: 90%;
    margin: auto;
}

.footer_blocks {
    flex-wrap: wrap;
    justify-content: space-around;
}

.winter_collapse {
    background: none;
}

.logo_block {
    flex-direction: column;
    align-items: flex-start;
}

.nav1 {
    margin-bottom: 10px;
}

.final {
    flex-direction: column;
    align-items: flex-start;
}

.footer_imgs {
    margin-top: 5px;
}

.nav2 {
    max-width: 40%;
}

.section_promo {
    padding-top: 0;
}

.nav_block {
    display: none;
}

.h2_promo {
    font-size: 34px;
}

.header {
    padding-top: 30px;
}

.links {
    flex-direction: column;
    align-items: flex-end;
}
}

@media (max-width: 375px) {

.column {
    flex-direction: column; 
    align-items: center;
}

.input_email {
    margin-top: 10px;
}

.h3_promo {
    font-size: 95%;
}

.h2_promo {
    font-size: 22px;
}



.nav2 {
    max-width: 45%;
}
}

@media (max-width: 320px) {

.promo_block {
    display: none;
}

.nav1 {
    width: 113%;
}

.header_nav {
    font-size: 80%;
}

.block_genders:nth-child(1) {
    margin-right: 5px;
}

.h2_genders {
    font-size: 21px;
}

.a_dress {
    font-size: 19px;
    left: 3%;
}

.block_dress {
    background: url(../img/Rectangle.png) no-repeat bottom right -120px;
}

.nav2 {
    max-width: 55%;
}
}